html {
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.contain, .contain .qipan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contain {
  width: 100%;
  height: 100%;
  background:#BAAD8A url(bj.jpg) no-repeat center center;
}
.renji,.renren{
  width: 100px;
  height: 30px;
  position: absolute;
  right: 20%;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #282B30;
  cursor: pointer;
  background:#B9AC89;
}
.renji{
 top:340px;
}
.renren{
 top:390px;
}
.renji:hover,.renren:hover{
  background-color: rgba(185,172,137,0.7);
}

.contain .qipan {
  width: 500px;
  height: 500px;
  background: rgba(219, 219, 219, 0.8);
}

.contain .qipan .qizi {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 4.16667px;
  position: relative;
  z-index: 2;
}

.contain .qipan .qizi.bai {
  background: #fff;
}

.contain .qipan .qizi.hei {
  background: #000;
}

.contain .qipan b {
  display: block;
  position: absolute;
  height: 1px;
  left: 16.66667px;
  background: #000;
  width: 466.66667px;
  animation: hang 0.3s ease forwards;
  opacity: 0;
}

.contain .qipan i {
  display: block;
  position: absolute;
  top: 16.66667px;
  width: 1px;
  background: black;
  height: 466.66667px;
  animation: shu 0.3s ease forwards;
  opacity: 0;
}

.qipan b:nth-of-type(1) {
  top: 16.66667px;
  animation-delay: 0s;
}

.qipan i:nth-of-type(1) {
  left: 16.66667px;
  animation-delay: 0s;
}

.qipan b:nth-of-type(2) {
  top: 50px;
  animation-delay: 0.03s;
}

.qipan i:nth-of-type(2) {
  left: 50px;
  animation-delay: 0.03s;
}

.qipan b:nth-of-type(3) {
  top: 83.33333px;
  animation-delay: 0.06s;
}

.qipan i:nth-of-type(3) {
  left: 83.33333px;
  animation-delay: 0.06s;
}

.qipan b:nth-of-type(4) {
  top: 116.66667px;
  animation-delay: 0.09s;
}

.qipan i:nth-of-type(4) {
  left: 116.66667px;
  animation-delay: 0.09s;
}

.qipan b:nth-of-type(5) {
  top: 150px;
  animation-delay: 0.12s;
}

.qipan i:nth-of-type(5) {
  left: 150px;
  animation-delay: 0.12s;
}

.qipan b:nth-of-type(6) {
  top: 183.33333px;
  animation-delay: 0.15s;
}

.qipan i:nth-of-type(6) {
  left: 183.33333px;
  animation-delay: 0.15s;
}

.qipan b:nth-of-type(7) {
  top: 216.66667px;
  animation-delay: 0.18s;
}

.qipan i:nth-of-type(7) {
  left: 216.66667px;
  animation-delay: 0.18s;
}

.qipan b:nth-of-type(8) {
  top: 250px;
  animation-delay: 0.21s;
}

.qipan i:nth-of-type(8) {
  left: 250px;
  animation-delay: 0.21s;
}

.qipan b:nth-of-type(9) {
  top: 283.33333px;
  animation-delay: 0.24s;
}

.qipan i:nth-of-type(9) {
  left: 283.33333px;
  animation-delay: 0.24s;
}

.qipan b:nth-of-type(10) {
  top: 316.66667px;
  animation-delay: 0.27s;
}

.qipan i:nth-of-type(10) {
  left: 316.66667px;
  animation-delay: 0.27s;
}

.qipan b:nth-of-type(11) {
  top: 350px;
  animation-delay: 0.3s;
}

.qipan i:nth-of-type(11) {
  left: 350px;
  animation-delay: 0.3s;
}

.qipan b:nth-of-type(12) {
  top: 383.33333px;
  animation-delay: 0.33s;
}

.qipan i:nth-of-type(12) {
  left: 383.33333px;
  animation-delay: 0.33s;
}

.qipan b:nth-of-type(13) {
  top: 416.66667px;
  animation-delay: 0.36s;
}

.qipan i:nth-of-type(13) {
  left: 416.66667px;
  animation-delay: 0.36s;
}

.qipan b:nth-of-type(14) {
  top: 450px;
  animation-delay: 0.39s;
}

.qipan i:nth-of-type(14) {
  left: 450px;
  animation-delay: 0.39s;
}

.qipan b:nth-of-type(15) {
  top: 483.33333px;
  animation-delay: 0.42s;
}

.qipan i:nth-of-type(15) {
  left: 483.33333px;
  animation-delay: 0.42s;
}

.contain .qipan span {
  display: block;
  width: 6.25px;
  height: 6.25px;
  background: black;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  animation: diao 1s ease forwards;
}

.contain .qipan span:nth-of-type(1) {
  animation-delay: 0.06s;
}

.contain .qipan span:nth-of-type(1) {
  top: 116.66667px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(2) {
  top: 116.66667px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  top: 250px;
  left: 250px;
}

.contain .qipan span:nth-of-type(4) {
  top: 383.33333px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(5) {
  top: 383.33333px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(2) {
  animation-delay: 0.12s;
}

.contain .qipan span:nth-of-type(1) {
  top: 116.66667px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(2) {
  top: 116.66667px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  top: 250px;
  left: 250px;
}

.contain .qipan span:nth-of-type(4) {
  top: 383.33333px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(5) {
  top: 383.33333px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  animation-delay: 0.18s;
}

.contain .qipan span:nth-of-type(1) {
  top: 116.66667px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(2) {
  top: 116.66667px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  top: 250px;
  left: 250px;
}

.contain .qipan span:nth-of-type(4) {
  top: 383.33333px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(5) {
  top: 383.33333px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(4) {
  animation-delay: 0.24s;
}

.contain .qipan span:nth-of-type(1) {
  top: 116.66667px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(2) {
  top: 116.66667px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  top: 250px;
  left: 250px;
}

.contain .qipan span:nth-of-type(4) {
  top: 383.33333px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(5) {
  top: 383.33333px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(5) {
  animation-delay: 0.3s;
}

.contain .qipan span:nth-of-type(1) {
  top: 116.66667px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(2) {
  top: 116.66667px;
  left: 383.33333px;
}

.contain .qipan span:nth-of-type(3) {
  top: 250px;
  left: 250px;
}

.contain .qipan span:nth-of-type(4) {
  top: 383.33333px;
  left: 116.66667px;
}

.contain .qipan span:nth-of-type(5) {
  top: 383.33333px;
  left: 383.33333px;
}

@keyframes diao {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform: translate3d(-45%, -45%, 0);
  }
}

@keyframes hang {
  0% {
    transform: translate3d(-1000px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes shu {
  0% {
    transform: translate3d(0, -1000px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
